.section1 {
    height: 100vh;
}

.section {
    min-height: 380px;
}

i {
    color: #795548;
}

i:hover {
    cursor: pointer;
    color: #0C3472;
    transition: 1s linear;
}

.btn-sign-in:hover {
    background-color: white !important;
    color: black;
    transition: 0.5s linear;
}

