/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
*.bak
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/terraform
/infrastructure
terraform
./terraform
.terraform
files/category
files/enterprise/*-*.png
./tests/Coverage/html
3marias/scripts/coverage_reports/
3marias/scripts/coverage_frontend/
3marias/tests/Coverage
3marias/coverage
*.icloud
service.min.js
directive.min.js
private.controllers.min.js
public.controllers.min.js
*.csp
__pycache__
dependencies
*.zip