.card-birthdate {
    min-height: 150;
    background: rgb(12, 52, 114) !important;
    color: white
}

.card-birthdate-item i {
    margin-top: -5px;
}

.card-birthdate-item:hover {
    cursor: pointer;
    background: rgb(12, 52, 114) !important;
    color: white;
    border: 2px solid white;
}