.Display {
    background-color: #0C3472;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}

.no-link {
    margin-bottom: 20px !important;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.custom-btn {
    border: 1px solid white !important;
}

.custom-btn:hover {
    background: white !important;
    color: #0C3472 !important;
}