.App {
  text-align: center;
}

.App-primary-color {
  background-color: #0C3472;
}

.card {
  animation: slideInUp !important; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s !important; /* don't forget to set a duration! */
}

.rsw-ce p, .rsw-ce span, .rsw-ce div, .rsw-ce div p, .rsw-ce div span, .rsw-ce {
  background-color: white !important;
  color: black !important;
}

thead tr th, .btn-success{
  color: white !important;
  background: #0C3472 !important;
}

.TbodyTdHigh {
  min-width: 200px !important;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.home-container .card {
  min-height: 500px !important;
}

.dropdown-menu {
  background: #0C3472 !important;
}

.btn-close {
  background-color: white !important;
  opacity: 1;
}

.bp5-popover-transition-container {
  width: 300px !important;
}

.bp5-popover {
  width: 100% !important;
}

.bp5-popover input::placeholder {
  color: transparent !important;
}

.toggleOptions {
  width: "300px" !important;
  height: "100vh" !important; 
  position: "fixed" !important;
  top: 0;
  left: 78;
  z-index: 1000;
  transition: 1.5s;
  display: none;
}

.toggleOptions .toggleOptions-nav a, .toggleOptions-title {
  color: white !important;
}

.toggleOptions .toggleOptions-nav a:hover {
  color: red !important;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  color: red;
  background: #0C3472 !important;
}

tbody tr td {
  padding-top: 15px !important;
}

tbody tr .options {
  padding-top: 5px !important;
  min-width: 250px !important;
}

.btn-light {
  border: 1px solid lightgray !important;
}

.App-secondary-color {
  color: white;
}

.float-left {
  float: left !important;
}

.Over-zIndex {
  z-index: 1000 !important;
}

.App-elevation {
  box-shadow: 3px 3px 3px gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dropdown-toggle {
  color: white !important;
}

.custom-btn {
  border: 1px solid white !important;
}

.custom-btn:hover {
  background: white !important;
  color: #0C3472 !important;
}

/* Pagination */
.active span {
  background: #0C3472 !important;
  color: white !important;
}

.page-link { 
  color: black !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  #printer {
    position: absolute;
    top: 0;
    left: -5%;
    width: 100vw;
    margin: 0;
    z-index: 1000 !important;
    border: none !important;
  }

  .card {
    border: none !important;
  }

  .navbar, #app-container input
  #app-container label, 
  #app-container .card-title,
  #app-container button,
  #app-container .form-floating,
  .nav, .nav-tabs,
  .required-label, .required-label .col, .required-label .required-label-content { 
    display: none !important;
  }
}
